/* 設定html,body抓到瀏覽器高度 */
html,
body {
  height: 100%;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  background: hsl(0, 0%, 13%);
}
hr {
  width: 95%;
  border: 2px solid hsl(0, 0%, 20%);
}

/* header------- */
#header {
  position: relative;
  box-sizing: border-box;
}
/* menu1，最上面那條 */
#header .menu {
  position: fixed;
  top: 0;
  width: 100%;
  height: 56px;
  background: hsla(0, 0%, 13%, 97%);
  z-index: 4;
}
/*每一個小區塊都是一個li，設定共同屬性*/
#header .menu ul li {
  position: absolute;
  text-align: center;
  line-height: 56px;
  font-size: 1.2rem;
  font-weight: 100;
}

/* sidebar的開關，待設定開關功能 */
#header .menu ul li:nth-child(1) {
  left: 0;
  width: 80px;
}
#header .menu ul li:nth-child(1) label {
  color: white;
  cursor: pointer;
}
#header .menu ul li:nth-child(1) input {
  display: none;
}

/* 首頁LOGO */
#header .menu ul li:nth-child(2) {
  left: 80px;
}

/* 搜尋欄，已加上動畫*/
#header .menu ul li:nth-child(3) {
  left: 28%;
  height: 100%;
}
#header .menu ul li:nth-child(3) p {
  position: absolute;
  box-sizing: border-box;
  color: hsla(0, 0%, 93.3%, 0.5);
  background: hsl(0, 0%, 7%);
  height: 40px;
  width: 570px;
  line-height: 40px;
  text-align: left;
  padding-left: 10px;
  top: 9px;
  z-index: -1;
}
#header .menu ul li:nth-child(3) input {
  position: absolute;
  background: hsl(0, 0%, 7%);
  border: 0.3px solid hsl(0, 0%, 20%);
  color: hsla(0, 0%, 93.3%, 0.5);
  height: 40px;
  width: 570px;
  line-height: 40px;
  top: 9px;
  font-size: 1em;
}
#header .menu ul li:nth-child(3) input:focus {
  background: rgba(0, 0, 0, 0);
  padding-left: 40px;
  outline: none;
  border: 0.3px solid hsl(208, 100%, 62%);
}
/* 搜尋按鍵 */
#header .menu ul li:nth-child(3) a {
  position: absolute;
  color: hsla(0, 0%, 93.3%, 0.5);
  background: hsl(0, 0%, 20%);
  line-height: 40px;
  border: none;
  height: 40px;
  width: 60px;
  top: 9px;
  left: 570px;
}
#header .menu ul li:nth-child(3) a::before {
  content: "搜尋";
  position: absolute;
  background: hsl(0, 0%, 35%);
  color: white;
  font-size: 12px;
  width: 40px;
  height: 30px;
  line-height: 30px;
  letter-spacing: 1.5px;
  border-radius: 2px;
  top: 50px;
  left: 10px;
  display: none;
}
#header .menu ul li:nth-child(3) a:hover:before {
  display: block;
}

/* 語音輸入 */
#header .menu ul li:nth-child(3) a:last-child {
  position: absolute;
  display: block;
  color: white;
  background: hsl(0, 0%, 7%);
  border-radius: 50%;
  line-height: 40px;
  border: none;
  height: 40px;
  width: 40px;
  top: 9px;
  left: 640px;
}
#header .menu ul li:nth-child(3) a:last-child::before {
  content: "使用語音搜尋";
  position: absolute;
  background: hsl(0, 0%, 35%);
  color: white;
  font-size: 12px;
  width: 95px;
  height: 30px;
  line-height: 30px;
  letter-spacing: 1.5px;
  border-radius: 2px;
  top: 50px;
  left: -25px;

  display: none;
}
#header .menu ul li:nth-child(3) a:last-child:hover::before {
  display: block;
}

/* 右側登入按鈕 */
#header .menu ul li:nth-child(4) {
  right: 30px;
  width: 144px;
}
#header .menu ul li:nth-child(4) a {
  color: white;
}
#header .menu ul li:nth-child(4) a:nth-child(1)::before {
  content: "設定";
  position: absolute;
  background: hsl(0, 0%, 35%);
  color: white;
  font-size: 12px;
  width: 40px;
  height: 30px;
  line-height: 30px;
  letter-spacing: 1.5px;
  border-radius: 2px;
  top: 50px;
  left: 3px;
  display: none;
}
#header .menu ul li:nth-child(4) a:nth-child(1):hover:before {
  display: block;
}

#header .menu ul li:nth-child(4) a:nth-child(2) {
  text-decoration: none;
  border: 0.5px solid hsl(208, 100%, 62%);
  color: hsl(208, 100%, 62%);
  font-size: 1rem;
  letter-spacing: 2px;
  padding: 6px 12px;
  margin-left: 20px;
}

/* menu2 */
/* 上方第二排 */
.menu2 {
  position: fixed;
  top: 56px;
  right: 0;
  width: calc(100% - 240px);
  padding: 0;
  height: 56px;
  border-top: 0.3px solid hsla(0, 0%, 93.3%, 0.1);
  border-bottom: 0.3px solid hsla(0, 0%, 93.3%, 0.1);
  background: hsla(0, 0%, 13%, 97%);
  z-index: 3;
}
.menu2 ul {
  position: absolute;
  display: block;
  width: calc(100% - 240px);
  top: 50%;
  margin-left: 60%;
  transform: translate(-50%, -50%);
}
.menu2 ul li {
  display: inline-block;
}
.menu2 ul li a {
  text-decoration: none;
  color: white;
  border: 0.3px solid hsla(0, 0%, 93.3%, 0.1);
  border-radius: 30px;
  background: hsl(0, 0%, 22%);
  padding: 2px 10px;
  margin: auto 5px;
}
.menu2 ul li a:hover {
  background: hsl(0, 0%, 35%);
  transition: 0.5s;
}

/* Sidebar----------------- */
/* 側邊欄 */
#sidebar {
  position: fixed;
  top: 56px;
  left: 0;
  width: 240px;
  box-sizing: border-box;
  background: hsl(0, 0%, 13%);
  color: white;
  height: 100%;
  overflow-y: auto;
}
#sidebar li:hover {
  background: hsl(0, 0%, 28%);
  cursor: pointer;
}

/* menu3------------- */
/* 側邊第一列 */
#sidebar .menu3 {
  border-bottom: 0.3px solid hsla(0, 0%, 93.3%, 0.1);
}
#sidebar .menu3 ul li {
  padding: 15px 30px;
}
#sidebar .menu3 ul li a {
  color: white;
  text-decoration: none;
}

/* menu4----------------- */
/* 側邊第二列 */
#sidebar .menu4 {
  border-bottom: 0.3px solid hsla(0, 0%, 93.3%, 0.1);
}
#sidebar .menu4 ul li {
  padding: 15px 30px;
}
#sidebar .menu4 ul li a {
  color: white;
  text-decoration: none;
}

/* menu5--------------- */
/* 側邊第三列 */
#sidebar .menu5 {
  position: relative;
  border-bottom: 0.3px solid hsla(0, 0%, 93.3%, 0.1);
  height: 130px;
  padding-left: 15px;
}
#sidebar .menu5 p {
  display: inline-block;
  line-height: 1.3;
  margin: 15px;
  font-size: 0.9rem;
}
#sidebar .menu5 a {
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  border: 0.5px solid hsl(208, 100%, 62%);
  color: hsl(208, 100%, 62%);
  font-size: 1rem;
  letter-spacing: 3px;
  margin: 5px 15px;
}
/* menu6------------------- */
/* 側邊第四列 */
.menu6 {
  border-bottom: 0.3px solid hsla(0, 0%, 93.3%, 0.1);
  height: 380px;
}
.menu6 h2 {
  padding: 20px 25px;
  display: block;
  color: hsla(0, 0%, 93.3%, 0.5);
}
.menu6 ul li {
  padding: 5px 20px;
}
.menu6 ul li a {
  display: inline-block;
  color: white;
  text-decoration: none;
  margin: 5px;
  vertical-align: middle;
}
.menu6 ul li a img {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  vertical-align: middle;
}
/* menu7-------------------- */
/* 側邊第五列 */
.menu7 {
  border-bottom: 0.3px solid hsla(0, 0%, 93.3%, 0.1);
  height: 60px;
  line-height: 60px;
}
.menu7 div {
  display: inline;
  height: 40px;
  line-height: 40px;
}
.menu7 div a {
  display: inline-block;
  width: 100%;
  color: white;
  text-decoration: none;
  padding-left: 25px;
}
.menu7 div a:hover {
  background: hsl(0, 0%, 28%);
}
/* menu8--------------- */
/* 側邊第六列 */
.menu8 {
  border-bottom: 0.3px solid hsla(0, 0%, 93.3%, 0.1);
  height: 230px;
}
.menu8 h2 {
  padding: 20px 25px;
  display: block;
  color: hsla(0, 0%, 93.3%, 0.5);
}
/* menu9--------------- */
/* 側邊第七列 */
.menu9 {
  border-bottom: 0.3px solid hsla(0, 0%, 93.3%, 0.1);
  padding: 20px 0;
}
.menu9 ul li {
  padding: 15px 30px;
}
.menu9 ul li a {
  color: white;
  text-decoration: none;
}
/* 側邊欄底部 */
/* footer-------- */
.footer {
  height: 300px;
}
.footer div {
  margin: 5px;
  padding: 10px 20px 5px;
}
.footer div a {
  text-decoration: none;
  color: hsl(0, 0%, 75%);
  line-height: 1.5rem;
  font-size: 0.8rem;
}
.footer p {
  margin: 5px;
  padding: 10px 20px;
  font-size: 0.7rem;
  color: hsl(0, 0%, 44%);
}
/* content-------------------------- */
#content {
  position: relative;
  background: hsl(0, 0%, 9%);
  top: 112px;
  left: 240px;
  width: calc(100% - 240px);
}

/* adBanner--------------------- */
.adBanner {
  background: white;
  width: 100%;
  height: 260px;
  background-image: url(../picture/YouTube\ Premium\ Banner/0cf8b5de70b5f94a58cc47037e83bd028fe1e63fba98e0e68fafa923db6.jpeg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 180px center;
}
.adBanner img {
  width: 320px;
  height: 24px;
  margin: 30px 60px 10px;
}
.adBanner p:nth-child(2) {
  margin: 10px 60px 10px;
  font-size: 2.3rem;
  font-weight: 500;
  line-height: 1.2;
  width: 450px;
}
.adBanner a:nth-child(3) {
  display: inline-block;
  margin: 10px 60px 10px;
  padding: 13px;
  text-decoration: none;
  border: 2px solid hsl(214, 94%, 43%);
  color: hsl(214, 94%, 43%);
  font-size: 0.9rem;
  font-weight: 500;
}

/* contMain------------- */
.contMain {
  position: relative;
  width: 100%;
  font-size: 0;
  /* 消除間距 */
  background: hsl(0, 0%, 9%);
}
.contMain .row {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  padding: 50px 20px;
  text-align: center;
}
.contMain .row .col {
  background: hsl(0, 0%, 9%);
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  width: 23%;
  height: 20vw;
  text-align: left;
  font-size: 1rem;
  margin: 0 10px;
}
.contMain .row .col:hover {
  transform: scale(120%);
  transition-delay: 1s;
  transition-duration: 0.3s;
  z-index: 3;
}
.contMain .row .col a img[src*="影片縮圖"] {
  position: absolute;
  width: 100%;
}
.contMain .row .col a img[src*="LOGO"] {
  position: absolute;
  top: 60%;
  width: 10%;
  border-radius: 50%;
  left: 3%;
}
.contMain .row .col .videoTitle {
  position: absolute;
  display: block;
  height: 2.4rem;
  overflow: hidden;
  top: 60%;
  left: 20%;
  width: 78%;
  color: white;
  text-decoration: none;
  font-size: 1rem;
  line-height: 1.2;
}
.contMain .row .col .videoChannel {
  position: absolute;
  display: block;
  top: 74%;
  left: 20%;
  width: 90%;
  color: hsl(0, 0%, 44%);
  text-decoration: none;
  font-size: 0.9rem;
  line-height: 1.4;
}
.contMain .row .col .videoInfo {
  position: absolute;
  display: block;
  top: 80%;
  left: 20%;
  width: 75%;
  color: hsl(0, 0%, 44%);
  text-decoration: none;
  line-height: 1.4;
  font-size: 0.9rem;
}
.contMain .row .col a img[src*="直播"] {
  position: absolute;
  top: 89%;
  left: 20%;
}

/* Shorts */
#shortsLogo {
  margin: 30px;
}
.shorts .shortsRow {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  padding: 20px;
  text-align: left;
}
.shorts .shortsRow .shortsCol {
  background: hsl(0, 0%, 9%);
  vertical-align: top;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  width: 180px;
  height: 420px;
  font-size: 1rem;
  margin: 0 10px 20px;
}
.shorts .shortsRow .shortsCol a {
  text-decoration: none;
}
.shorts .shortsRow .shortsCol a img {
  width: 100%;
}
.shorts .shortsRow .shortsCol a p {
  color: white;
  margin: 10px 5px;
  line-height: 1.5;
  height: 3rem;
  overflow: hidden;
}
.shorts .shortsRow .shortsCol a p:nth-child(3) {
  color: hsl(0, 0%, 44%);
  font-size: 0.9rem;
}

/* 發燒影片 */
#hotVideos {
  margin: -20px 30px 30px;
  color: white;
  font-size: 1.2rem;
  text-align: left;
}
